.container {
  display: flex;
  justify-content: space-around;
}

.searchInput {
  font-size: 1.2rem;
  border-radius: 5px;
  width: 50%;
}

.searchButton {
  justify-self: end;
  width: 150px;
  font-size: 1.2rem;
  border-radius: 5px;
}

.select {
  font-size: 1.2rem;
  border-radius: 5px;
}
