.container {
  min-height: calc(100vh - 150px);
  font-size: 1.2rem;
  color: #e4e4e4;
}

.header {
  font-size: 1.4rem;
  padding: 25px 0;
}

.person {
  font-size: 1.2rem;
  color: #e4e4e4;
  margin: 10px 20px;
  padding: 5px;
  border: solid 1px #000;
  border-radius: 5px;
  cursor: pointer;
}
