body {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  background-color: #1f1f1fe0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
}

main {
  flex: 1 1 auto;
}

* {
  margin: 0;
}
